<link rel="stylesheet" href="../../../public/Liberia/footer.css" type="Text/css">


<!-- <footer id="myFooter">
    <p>Pie de página</p>
    Agrega aquí cualquier contenido adicional para el pie de página 
  </footer> -->
  

  <footer id="myFooter" style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
    <p>&copy; 2023 Gabriel Torres Mendoza. </p>
    <div>
      <a href="https://www.facebook.com/tu_pagina_de_facebook" style="color: #fff; margin-right: 10px;">Facebook</a>
      <a href="https://twitter.com/tu_cuenta_de_twitter" style="color: #fff; margin-right: 10px;">Twitter</a>
      <a href="https://www.instagram.com/tu_cuenta_de_instagram" style="color: #fff; margin-right: 10px;">Instagram</a>
    </div>
  </footer>
  