<link rel="stylesheet" href="../../../public/Liberia/footer.css" type="Text/css">
  

  <footer id="myFooter" style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
    <p>&copy; 2023 Gabriel Torres Mendoza. </p>
    <div>
      <a href="https://github.com/gabrieltorres519" style="color: #fff; margin-right: 10px;">GitHub</a>
      <a href="https://twitter.com/GabrielleTorri1" style="color: #fff; margin-right: 10px;">Twitter</a>
      <a href="https://www.instagram.com/gabrielletorricelli/" style="color: #fff; margin-right: 10px;">Instagram</a>
    </div>
  </footer>
  