<!DOCTYPE html>
<html>
<head>

  <style>
    #myH1 {
      text-align: center;
      background-color: #333;
      color: white;
      width: 300px; /* Modifica el ancho según tus necesidades */
      height: 100px; /* Modifica la altura según tus necesidades */
      line-height: 100px; /* Ajusta la altura de línea para centrar verticalmente el texto */
      margin: 0 auto; /* Centra horizontalmente el elemento */
    }
  </style>
  <title>Plantilla EJS para tarjetas</title>

</head>
<body>
  <header style="background-color: #333;">
    <h1 id='myH1' style="text-align: center; background-color: #333; color:white ">Entrelíneas</h1>
    <!-- Agrega aquí cualquier contenido adicional para el encabezado -->
  </header>
</body>
</html>
