<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  <link rel="stylesheet" href="../../../public/Liberia/principal.css"> <!-- Ruta relativa al archivo CSS -->
    

</head>
<body>
    <div class="sidebar">
        <div class="nav">
          <ul>
            <% if (user.profile == 'Admin') { %>
              <li>
                <a href="/perfil">Perfil</a>
              </li>
              <li>
                <a href="/clientes">Gestión de Usuarios</a>
              </li>
              <li>
                <a href="/proveedores">Gestión de Proveedores</a>
              </li>
              <li>
                <a href="/gestComp">Reporte de Compras</a>
              </li>
              <li>
                <a href="/gestProd">Gestión de Productos</a>
              </li>
            <% } else { %>
              <li>
                <a href="/gestProd">Mirar Libros</a>
              </li>
              <li>
                <a href="/misLibros">Libros Comprados</a>
              </li>
            <% } %>



          </ul>
        </div>
      </div>
</body>
</html>