<%- layout('layouts/main') %>

<style>
  body{ 
  background: #8B039A;
  background-image: linear-gradient(rgba(77, 26, 187, 0.7), rgba(147, 127, 216, 0.7)), url(login.jpeg); 
  }
</style>



<div class="hero vh-100 d-flex align-items-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mx-auto text-center">
              <h1 class="display-7 text-decoration  bg-dark  text-white">Contáctanos</h1>

              <form action="/contacto" method="post">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label" style="color:#ffffff">Inserta un correo</label>
                  <input type="email" method="post" class="form-control" name="email3" placeholder="name@example.com" required>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label" style="color:#ffffff">Tu opinión es importante, escríbenos...</label>
                  <textarea class="form-control" method="post" name="comentario" rows="3" required></textarea> 
                </div>
                <button bg-dark text-white>Enviar comentarios</button> 
              </form>


          </div>
      </div>
  </div>
</div>


<div class="hero vh-100 d-flex align-items-center">
  <div class="container">
      <div class="row">

          <div class="col-lg-6 mx-auto text-center">
            <div class="col-lg-3 col-sm-3">

              <div class="card" style="width: 35rem;">
                  <!-- <i class='bx bxs-network-chart' ></i> -->
                  <img src="../public/login.jpeg"  alt="">
                  <div class="card-body">
                    <h6 class="card-title">RECIBE NUESTROS ARTÍCULOS</h6>
                    <p class="card-text">Obtén información y actualizaciones a algún email</p>
            
            
            
                    <form action="/contacto" method="post">
                      <select class="form-select" aria-label="Default select example" method="post" type="text" name="subs">
                        <option selected>Periodicidad</option>
                        <option value="Semanal">Semanal</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Diaria">Diaria</option>
                      </select>
                      <input method="post" type="email" name="email2" placeholder="E-mail">
                      <!-- <input method="post" type="text" name="paymethod" placeholder="Método de pago"> -->
                      <button bg-dark text-white>Registrarse</button>
                    </form>
                  </div>
              </div> 
            </div>

          </div>

      </div>
  </div>
</div>


<footer>
  <div class="footer-content">
    <h3>E-duk</h3>
    <p>Contáctenos al teléfono 445 101 8830</p>
    <p>Correo: gabrieltorres9909@gmail.com</p>
    <ul class="socials">
        <li><a href="https://www.instagram.com/gabrielletorricelli/"><i class="bx bxl-instagram"></i></a></li>
        <li><a href="https://twitter.com/GabrielleTorri1"><i class="bx bxl-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCidGV1EU-QJ9HyUrVUd_W8w"><i class="bx bxl-youtube"></i></a></li>
        <li><a href="https://www.linkedin.com/in/gabriel-alberto-torres-mendoza-36276b1b0/"><i class="bx bxl-linkedin-square"></i></a></li>
    </ul>
</div>
<div class="footer-bottom">
    <p>copyright &copy;2021 E-duk. App construida por  <span>Garbriel Alberto Torres Mendoza</span></p>
</div>
</footer>

  


