<%- layout('layouts/main') %>

<style>
  body{ 
  background: #8B039A;
  background-image: linear-gradient(rgba(77, 26, 187, 0.7), rgba(147, 127, 216, 0.7)), url(login.jpeg); 
  }
  .bxl-youtube{
          font-size: 50px;
  }
  .bxl-twitter{
          font-size: 50px;
  }
  .bxl-facebook-square{
          font-size: 50px;
  }
  .bxl-twitch{
         font-size: 50px;
  }
  .profesor{
          width: 559px;
          height: 540px;
  }
</style>

<div class="hero vh-100 d-flex align-items-center" id="inicio">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-4 text-decoration  bg-dark  text-white">Tus profesores</h1>
                <h5 class="text-decoration color black my-3" style="color:#ffffff">Conócelos</h5>
            </div>
        </div>
    </div>
</div>



    <!--secciones de productos-->
    <section id="Lista_Productos">
        <div class="container">
            <div class="row mb-5"> 
                            
            </div>
         
            <table>
              <tr>
                <td>


                    <div class="col-lg-6 mx-auto text-center">
                        <div class="col-lg-3 col-sm-3">
    
                        <div class="card" style="width: 35rem;">
                                    <!-- <i class='bx bxs-network-chart' ></i> -->
                                    <img src="../public/profesores/jonathan.jpg" class="profesor" alt="">
                                    <div class="card-body">
                                        <h6 class="card-title">Jonathan MirCha</h6>
                                        <p class="card-text">Experto en Desarrollo WEB y dueño del canal de YouTube "jonmircha"</p>
                                        <a class='bx bxl-twitter bx-tada' href="https://twitter.com/jonmircha" ></a>
                                        <a class='bx bxl-youtube bx-tada' href="https://www.youtube.com/c/jonmircha/featured" style="color:#d52904"></a>
                                    </div>
                                </div> 
                                </div>
    
                        </div>


                        <div class="col-lg-6 mx-auto text-center">
                            <div class="col-lg-3 col-sm-3">
        
                            <div class="card" style="width: 35rem;">
                                        <!-- <i class='bx bxs-network-chart' ></i> -->
                                        <img src="../public/programador_novato.jpg" class="profesor"  alt="">
                                        <div class="card-body">
                                            <h6 class="card-title">Programador novato</h6>
                                            <p class="card-text">Experto en Desarrollo de Escritorio y Web </p>
                                            <a class='bx bxl-youtube bx-tada' href="https://www.youtube.com/c/programadornovato/featured" style="color:#d52904"></a>
                                        </div>
                                    </div> 
                                    </div>
        
                            </div>

                  
  
                
  
                <td>
  
  





  
  
            <td>
              
               

                    <div class="col-lg-6 mx-auto text-center">
                        <div class="col-lg-3 col-sm-3">
                    
                          <div class="card" style="width: 35rem;">
                              <!-- <i class='bx bxs-network-chart' ></i> -->
                              <img src="../public/profesores/fazt.jpg" class="profesor" alt="">
                              <div class="card-body">
                                <h6 class="card-title">Fazttech</h6>
                                <p class="card-text">Experto en Desarrollo WEB y dueño del canal de YouTube "Fazt"</p>
                                <a class='bx bxl-twitter bx-tada' href="https://twitter.com/FaztTech/"></a>
                                <a class='bx bxl-youtube bx-tada' href="https://www.youtube.com/c/FaztTech/featured" style="color:#d52904"></a>
                                <a class='bx bxl-twitch bx-tada'  href="https://www.twitch.tv/fazttech/about" style="color:#7304d5"></a>
                              </div>
                          </div> 
                        </div>
                    
                      </div>


  
                    <div class="col-lg-6 mx-auto text-center">
                        <div class="col-lg-3 col-sm-3">
    
                        <div class="card" style="width: 35rem;">
                                    <!-- <i class='bx bxs-network-chart' ></i> -->
                                    <img src="../public/profesores/yacklyon.jpg" class="profesor"  alt="">
                                    <div class="card-body">
                                        <h6 class="card-title">Yacklyon</h6>
                                        <p class="card-text">Experto Programador y Diseñador Gráfico</p>
                                        <a class='bx bxl-facebook-square bx-tada' href="https://www.facebook.com/yacklyon/"></a>
                                        <a class='bx bxl-twitter bx-tada' href="https://twitter.com/yacklyon"></a>
                                    </div>
                                </div> 
                                </div>
    
                        </div>
            
            <td>
              </tr>
            </table>
  
           
  
  
  
      </section>
      <!--Fin secciones de productos-->

      <footer>
        <div class="footer-content">
            <h3>E-duk</h3>
            <p>Contáctenos al teléfono 445 101 8830</p>
            <p>Correo: gabrieltorres9909@gmail.com</p>
            <ul class="socials">
                <li><a href="https://www.instagram.com/gabrielletorricelli/"><i class="bx bxl-instagram"></i></a></li>
                <li><a href="https://twitter.com/GabrielleTorri1"><i class="bx bxl-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCidGV1EU-QJ9HyUrVUd_W8w"><i class="bx bxl-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/in/gabriel-alberto-torres-mendoza-36276b1b0/"><i class="bx bxl-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 E-duk. App construida por  <span>Garbriel Alberto Torres Mendoza</span></p>
        </div>
    </footer>
  