body{ 
   background: brown;
   background-image: linear-gradient(rgba(109, 69, 33, 0.7), rgba(77, 26, 0, 0.7)), url(login.jpeg);
}
.bg{
  background-image: url(login.jpg);
  background-position: center center;
}