body{ 
   background: #8B039A;
   background-image: linear-gradient(rgba(77, 26, 187, 0.7), rgba(147, 127, 216, 0.7)), url(login.jpeg); 
}
.bg{
  background-image: url(login.jpeg);
  background-position: center center;
}